[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@gitlab.com:msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@gitlab.com:tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = git@gitlab.com:tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@gitlab.com:ervandew/supertab.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@gitlab.com:mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git@gitlab.com:sjl/gundo.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git@gitlab.com:fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git@gitlab.com:vim-scripts/pep8.git
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = git@gitlab.com:alfredodeza/pytest.vim.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = git@gitlab.com:reinh/vim-makegreen
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git@gitlab.com:vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@gitlab.com:vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = git@gitlab.com:klen/rope-vim.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git@gitlab.com:fholgado/minibufexpl.vim.git
[submodule "bundle/pathongen.vim"]
	path = bundle/pathongen.vim
	url = git@gitlab.com:vim-scripts/pathogen.vim.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = git@gitlab.com:mitechie/pyflakes-pathogen.git
[submodule "bundle/vim-bclose"]
	path = bundle/vim-bclose
	url = git@gitlab.com:rbgrouleff/bclose.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@gitlab.com:scrooloose/syntastic.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = git@gitlab.com:joonty/vdebug
[submodule "bundle/vim-solidity"]
	path = bundle/vim-solidity
	url = git@gitlab.com:tomlion/vim-solidity.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@gitlab.com:leafgarland/typescript-vim.git
[submodule "vim-easytags"]
	path = vim-easytags
	url = git@gitlab.com:xolox/vim-easytags.git
